{% extends 'registration/auth/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
        {% if validlink %}
        <form role="form" method="POST">
            {% csrf_token %}
            <div class="card border-primary">

                <div class="card-header text-white bg-primary">
                    {{ title }}
                </div>

                <div class="card-body">
                    {{ form }}

                    <div class="float-right">
                        <a class="btn btn-link" href="{% url 'login' %}">Back to login</a>
                        <button class="btn btn-md btn-primary" action="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
