{% extends 'registration/auth/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
        <form role="form" method="POST">
            {% csrf_token %}
            <div class="card border-primary">

                <div class="card-header text-white bg-primary">
                    {{ title }}
                </div>

                <div class="card-body">
                    {{ form }}

                    <div class="float-right">
                        <a class="btn btn-outline-secondary" href="/" onclick="history.back()">Cancel</a>
                        <button class="btn btn-md btn-primary" action="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
